@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

.additional-navigation,
.up-to-date {
  grid-column: full;
}

.additional-navigation ul {
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.additional-navigation ul li {
  margin: 0;
}

.up-to-date {
  text-align: center;
  margin-bottom: 1em;
}

.up-to-date .icon {
  display: inline-block;
  opacity: 25%;

  font-size: 4em;
  width: 0.5em;
}

.up-to-date .link {
  display: inline-block;
  position: relative;

  bottom: 0.5em;
}
